<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <title>发布~~昆卡社区</title>
</head>
<body background="img/background.PNG">

<!--引用导航条navigation.html-->
<div th:insert="~{navigation :: nav}"/>

<div class="container-fluid" style="background: white;margin-left: 200px;margin-top: 30px;margin-right: 200px">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div>
                <!--发起问题的铅笔样式-->
                <h3><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 发起</h3>
                <hr><!--分割线-->
                <!--描述问题-->
                <div class="form-group">
                    <label for="title">问题标题（简单扼要）：</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="问题标题">
                </div>
                <div class="form-group">
                    <label for="title">问题补充（必填，参照右边提示）：</label>
                    <textarea class="form-control" cols="30" rows="10" id="description"
                              name="description"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签：</label><br>
                    <span id="tagSpan"></span>
                    <br><br>
                    <input type="text" class="form-control" id="tag" placeholder="添加标签,回车添加.......">
                </div>
                <div id="warning" class="alert alert-danger" role="alert" style="display: none"></div>
                <button onclick="submitQuestion()" class="btn btn-primary btn-lg active" style="float: right;">确认发布</button>
            </div>
            <br><br><br>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div id="guide">
                <h3>问题发起指南</h3><br>
                <h5>
                    • 问题标题: 请用精简的语言描述您发布的问题，不超过25字<br><br>
                    • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料：<br><br>
                    服务器运行环境信息；<br>
                    软件版本；<br>
                    问题发生的上下文信息；<br>
                    可以完整复现问题的代码（如可直接运行于 Kibana Console 的复现流程）；<br>
                    补充完整的异常和错误信息；<br>
                    注意阅读格式友好，代码和异常信息请用代码标签格式化张贴；<br><br>
                    • 选择标签: 选择一个或者多个合适的标签，不超过10个字
                </h5>
            </div>
        </div>
    </div>
</div>

<script language="javascript" type="text/javascript">

    var i = 1;
    var tags = new Map();

    $(function(){
        $("#tag").bind("keypress",function(event){
            if(event.keyCode == "13") {
                var tag = $.trim($("#tag").val());
                //h3标签默认换行，用css的display: inline可以让他不换行
                $("#tagSpan").append("<span style='margin-outside: 20px;float: left' id="+i+"><h3 style='display: inline'><span class=\"label label-primary\">"+
                    tag+"&nbsp;<span class=\"glyphicon glyphicon-remove\" aria-hidden=\"true\" onclick=\"deleteTag("+i+")\"></span></span></h3><span>&nbsp;&nbsp;</span></span>");
                $("#tag").val(null);
                tags.set(i,tag);
                i += 1;
            }
        });
    });

    function deleteTag(id) {
        $("#"+id).html(null);
        tags.delete(id);
    }

    function submitQuestion() {

        var title = $.trim($("#title").val());
        var description = $.trim($("#description").val());
        var a = 1;
        var tag = "";
        while (a < i) {
            if (tags.get(a) !== undefined) {
                tag += tags.get(a);
                if (i !== a + 1){
                    tag += ",";
                }
            }
            a++;
        }
        if (title!=""&&description!=""&&tag!=""){
            $.ajax({
                url:"/publish",
                type:"post",
                data: {
                    title: title,
                    description: description,
                    tag: tag
                },
                success:function (msg) {
                    if (msg=="OK"){
                        window.location="http://localhost:8887/";
                    }else {
                        alert("失败");
                    }
                },
                error:function () {
                    alert("失败");
                }
            });
        }else {
            $("#warning").show();
            $("#warning").html("请检查标题，内容，标签，不能为空");
        }
    }

</script>

</body>
</html>



