<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="/js/my.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <title th:text="${showQuestion.title}"></title>
</head>
<body background="/img/background.PNG">

<!--引用导航条navigation.html-->
<div th:insert="~{navigation :: nav}"/>

<div class="container-fluid" style="background: white;margin-left: 200px;margin-top: 30px;margin-right: 200px">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <div>
                <h2 th:text="${showQuestion.title}"></h2>
                作者 <span th:text="${showQuestion.name}+' | 发布于'+${#dates.format(showQuestion.gmtCreate, 'yyyy-MM-dd HH:mm')}+' | 阅读数'+${showQuestion.readCount}"></span>
                <hr>
                <span th:text="${showQuestion.description}"></span>
                <hr>
                <div th:if="${session.user!=null}">
                    <a th:if="${session.user.getName()==showQuestion.name}" th:href="@{'/publish/'+${showQuestion.questionId}}" class="glyphicon glyphicon-pencil" style="color: gray">编辑问题</a>
                </div>
                <br><br><br>
                <h3 th:text="${showQuestion.commentCount}+'个评论'"></h3>
                <hr>
                <div th:if="${showComments.size()!=0}">
                    <div class="media" th:each="showComment : ${showComments}">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" th:src="${showComment.user.pictureUrl}" style="width: 40px">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading" th:text="${showComment.user.name}">评论id</h4>
                            <span th:text="${showComment.content}"></span>
                            <br><br>
                            <span class="label label-default" style="padding: .4em .9em .4em" onmouseover="changeColor(this,true)" onmouseleave="changeColor(this,false)">
                                <span class="glyphicon glyphicon-thumbs-up" th:text="${showComment.likeCount}"></span>
                            </span>&nbsp;&nbsp;
                            <span class="label label-default" style="padding: .4em .9em .4em" onmouseover="changeColor(this,true)" onmouseleave="changeColor(this,false)"
                                  role="button" data-toggle="collapse" th:href="'#'+${showComment.id}" aria-expanded="false" th:aria-controls="${showComment.id}" th:onclick="'second('+${showComment.id}+')'">
                                <span class="glyphicon glyphicon-comment">0</span>
                            </span>
                            <span style="float: right;color: gray" th:text="${#dates.format(showComment.gmtCreate, 'yyyy-MM-dd HH:mm')}"></span>
                            <br><br>
                            <!--二级评论-->
                            <div class="collapse" th:id="${showComment.id}">
                                <div style="background-color: rgba(120,120,120,0.3);padding: 20px;border-radius: 5px">
                                    <div th:id="'sec'+${showComment.id}" style="border-radius: 5px;background-color: white;padding: .4em .9em .4em">
                                        
                                    </div>
                                    <br>
                                    <input th:id="'content'+${showComment.id}" type="text" class="form-control" placeholder="评论一下...."><br>
                                    <button type="button" class="btn btn-success" style="float: right" th:onclick="'publish(2,'+${showComment.id}+')'">发表评论</button><br><br>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
                <div th:if="${showComments.size()==0}">
                    <h3 style="text-align: center;">当前还没有评论哦，赶紧来抢占沙发!!!</h3>
                </div>
                <br><br>
                <div th:if="${session.user!=null}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${session.user.getPictureUrl()}" style="width: 40px">
                        </a>
                    </div>
                    <div style="padding-top: 13px" class="media-body">
                        <h5 class="media-heading"><a th:text="${session.user.name}"></a></h5>
                    </div>
                    <textarea id="content" style="margin: 10px" class="form-control" rows="3"></textarea>
                    <input id="qid" type="hidden" th:value="${showQuestion.questionId}">
                    <button type="button" class="btn btn-success" style="float: right;margin-bottom: 20px" onclick="publish(1)">发表评论</button>
                </div>
                <div style="text-align: center" th:if="${session.user==null}">
                    <span>要评论该问题请先<a href="/user/login">登录</a>或<a href="/user/register">注册</a></span>
                </div>
            </div>
        </div>
        <div style="margin-top: 30px" class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <span>发起人</span>
            <br><br>
            <div class="media-left">
                <a href="#">
                    <img class="media-object img-rounded" th:src="${showQuestion.pictureUrl}" style="width: 40px">
                </a>
            </div>
            <div class="media-body">
                <h5 class="media-heading"><a th:text="${showQuestion.name}"></a></h5>
            </div>
            <hr>
            相关问题
        </div>
    </div>
</div>
</body>

<script language="JavaScript" type="text/javascript">

    /**
     * 发表评论
     * @param type
     */
    function publish(type,cid) {
        if (type==1){
            //获取问题的id
            var qid = $("#qid").val();
            //评论内容
            var content = $("#content").val();
        }else if (type==2){
            //获取问题的id
            var qid = cid;
            //评论内容
            var content = $("#content"+cid).val();
        }

        $.ajax({
            url:"/comment",
            type:"post",
            contentType:"application/json",
            data:JSON.stringify({
                qid:qid,
                content:content,
                type:type
            }),
            dataType:"json",
            success:function (result) {
                if (result.code==1000){
                    //成功
                    window.location.reload();
                }else if (result.code==1001){
                    //未登录
                    if (confirm(result.msg)){
                        window.open("/user/login");
                        //设置localstorage，打开一个新的登录页，登录完成之后需要自动关闭页面，所以设置一个标识
                        window.localStorage.setItem("closable","1");
                    }
                }
            }
        })
    }

    /**
     * 展开2级评论
     */
    function second(id) {
        $.ajax({
            url:"/comment/showsec",
            type:"get",
            contentType:"application/json",
            data:{
                qid:id
            },
            dataType:"json",
            success:function (data) {
                $.each(data,function (index,obj) {
                    $("#sec"+id).append("<div class=\"media\">\n" +
                        "                                            <div class=\"media-left\">\n" +
                        "                                                <a href=\"#\">\n" +
                        "                                                    <img style=\"width: 40px\" class=\"media-object\" src=\""+obj.user.pictureUrl+"\">\n" +
                        "                                                </a>\n" +
                        "                                            </div>\n" +
                        "                                            <div class=\"media-body\">\n" +
                        "                                                <h5 class=\"media-heading\">"+obj.user.name+"</h5>\n" +
                        "                                                <span>"+obj.content+"</span>\n" +
                        "                                                <br><br>\n" +
                        "                                                <span class=\"label label-default\" style=\"padding: .4em .9em .4em\" onmouseover=\"changeColor(this,true)\" onmouseleave=\"changeColor(this,false)\">\n" +
                        "                                                    <span class=\"glyphicon glyphicon-thumbs-up\">"+obj.likeCount+"</span>\n" +
                        "                                                </span>&nbsp;&nbsp;\n" +
                        "                                                <span class=\"label label-default\" style=\"padding: .4em .9em .4em\" onmouseover=\"changeColor(this,true)\" onmouseleave=\"changeColor(this,false)\">\n" +
                        "                                                    <span class=\"glyphicon glyphicon-comment\"></span>\n" +
                        "                                                </span>\n" +
                        "                                                <span style=\"float: right;color: gray\">"+new Date(obj.gmtCreate).toISOString().substr(0,16).replace(/[T]/g, ' ')+"</span>\n" +
                        "                                                <hr>\n" +
                        "                                            </div>\n" +
                        "                                        </div>")
                })
            }
        })
    }

    /**
     * 鼠标悬浮或离开时改变颜色
     */
    function changeColor(t,b) {
        //t表示当前标签的dom对象，b是判断是鼠标离开事件(false)还是悬浮事件(true)
        if (b) {
            $(t).css("background-color", "#2aabd2");
        }else {
            $(t).css("background-color", "#8c8c8c");
        }
    }

</script>
</html>
